/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    --background-color: #ffffff;
    --text-color: #222222;

    --exercise-background-color: #dddddd;
    --exercise-input-background-color: #eee;
    --primary-text-color: rgb(57, 111, 0);
    --secondary-text-color: rgb(41, 54, 48);
    --border-color: rgb(152, 240, 172);
    --border-color-1: rgb(240, 152, 225);
    --border-color-2: rgb(240, 152, 225);

    --button-border: #ccccf0;
    --button-background: #f0f0f0;
    --button-border-hover: #a1a1d6;
    --button-background-hover: #ccccf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #afafaf;

    --exercise-background-color: #232323;
    --exercise-input-background-color: #333333;
    --primary-text-color: rgb(57, 111, 0);
    --secondary-text-color: rgb(151, 200, 177);
    --border-color: #264f30;
    --border-color-1: rgb(240, 152, 225);
    --border-color-2: rgb(240, 152, 225);

    --button-border: #61617c;
    --button-background: #555;
    --button-border-hover: #40407e;
    --button-background-hover: #666;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.exercise {
  --exercise-spacing: 8px;
  --exercise-spacing-2x: calc(var(--exercise-spacing) * 2);
  --exercise-size: 32px;
  background-color: var(--exercise-background-color);
}

.exercise input {
  background-color: var(--exercise-input-background-color);
}

.exercise input:focus-visible {
  outline: 2px solid var(--primary-text-color);
}

.exercise-area-subsection.conversation ol {
  list-style-type: none;
}


.exercise-area-subsection.conversation .exercise:nth-child(2n-1) {
  margin-right: 32px;
}

.exercise-area-subsection.conversation .exercise:nth-child(2n) {
  --border-color: var(--border-color-2); 
  margin-left: 32px;

  input:focus-visible {
    outline: 2px solid var(--secondary-text-color);
  }
}

* {
  font-family: "Noto Sans", sans-serif;
}

.text, .exercise input {
  font-family: "Noto Sans JP", sans-serif;
}

#exercise-area {
  margin: 0 auto;
  max-width: 800px;
}

.exercise {
  padding: var(--exercise-spacing) var(--exercise-spacing-2x);
  margin-bottom: var(--exercise-spacing) ;
  border: 2px solid var(--border-color);
  border-radius: var(--exercise-spacing-2x);
}

.exercise::marker {
  color: var(--secondary-text-color);
}

.exercise > div {
  display: flex;
  margin: var(--exercise-spacing) 0;
  height: var(--exercise-size);
  gap: var(--exercise-spacing);
}

.exercise span, .exercise input { 
  font-size: 24px;
  flex-grow: 1;
}

.exercise input {
  border: var(--border-color) 1px solid;
}

.exercise button {
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid var(--button-border); 
  user-select: none;
  background-color: var(--button-background);
  cursor: pointer;
  width: var(--exercise-size);
  height: var(--exercise-size);
  text-decoration: none;
}

.exercise button:hover {
  background-color: var(--button-background-hover);
  border-color: var(--button-border-hover); 
}

.translated-text .text {
  visibility: hidden;
  pointer-events: none;
}
.translated-text.revealed .text {
  visibility: visible;
  pointer-events: default;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

